* {
  padding: 0px;
  margin: 0px;
}

.container1 {
  position: fixed;
  background: black;
  background-attachment: fixed;
  z-index: 2;
}

.container1::before {
  content: "";
  background: linear-gradient(90deg, rgb(12, 55, 243), rgb(0, 0, 2));
  width: 12%;
  height: 100%;
  position: absolute;
  margin-left: -5%;
}

.navbar-brand {
  margin-right: 22%;
  margin-left: 7%;
  font-size: 200%;
  font-weight: bold;
  color: white !important;
}

.fa-align-justify {
  color: white !important;
}

.nav-link {
  font-weight: bold;
  font-size: 105%;
  color: honeydew !important;
}

.nav-link:hover {
  border-bottom: 2px solid red;
}

.headerpart {
  height: 100vh;
  width: auto;
  background: url(adult3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.jmb {
  position: relative;
  top: 150px;
  background-color: rgba(191, 212, 211, 0.123);
  box-shadow: 2px 2px rgba(66, 64, 64, 0.5);
  color: rgb(140, 224, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lead {
  color: white;
}

.container3 {
  font-weight: bold;
}

.container3 h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div1 {
  display: flex;
}

.img1 {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.speakers {
  background-color: rgb(1, 0, 2);
}

.maindiv {
  margin-top: 7%;
  width: 100%;
  height: 300px;
  background-color: black;
}

.icondiv {
  width: 50vw;
}

.idiv {
  position: relative;
  left: 90%;
}

.h3r {
  position: relative;
  left: 17vw;
  top: 3vw;
}

.seconddiv {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}

.cdiv {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: 500px;
}

.image1 {
  max-width: 100%;
  height: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
  border-radius: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

#seconddiv2 {
  display: none;
  animation: anim 1s linear;
}

#seconddiv1 {
  animation: anim 1s linear;
}

@keyframes anim {
  0% {
    width: 10%;
  }

  100% {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .maindiv {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .seconddiv {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.caro {
  display: none;
  background-color: black;
  height: 250px;
}

.containercarosel {
  text-align: center;
  width: 70%;
  margin-left: 17%;
}

.containercarosel img {
  height: 350px;
  border-radius: 10px;
}

.location {
  width: 100%;
  height: 80vh;
  background: url(adult9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.location1 {
  background-color: transparent !important;
  position: relative;
  top: 50%;
  font-family: bold;
  color: rgb(19, 11, 11);
}

.ticket {
  letter-spacing: 3px;
}

.col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  background-color: lavender;
}

.card-subtitle {
  font-weight: bold;
}

.card-link {
  width: 100%;
  color: white;
  background-color: rgb(12, 55, 243);
}

.free {
  animation: fre infinite linear;
}

@keyframes fre {
  0% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@media only screen and (max-width: 800px) {
  .caro {
    display: block;
  }

  .col-lg-4 {
    margin: 5px;
  }
}

.sponsors {
  letter-spacing: 5px;
}

.imagecard {
  width: auto;
  height: 250px;
}

.text-red {
  color: red;
}

.footer {
  width: auto;

  background: url(adult10.jpg);
  background-size: cover;
  background-position: center;
  font-size: 80%;
}

.lineheight {
  line-height: 25px;
}